# Topics
* List Comprehensive
* Tuple
* Set
* Dictionary

In [2]:
range(11) # generator funtion. khud sy nahi chaly ga

range(0, 11)

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1,11):
    print("iteration no.",i)

iteration no. 1
iteration no. 2
iteration no. 3
iteration no. 4
iteration no. 5
iteration no. 6
iteration no. 7
iteration no. 8
iteration no. 9
iteration no. 10

In [7]:
for i in range(1,11):
    print("iteration no.")

iteration no.
iteration no.
iteration no.
iteration no.
iteration no.
iteration no.
iteration no.
iteration no.
iteration no.
iteration no.

In [11]:
for i in range(1,11):
    print(f"{2} X {i} = {2*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [16]:
table = int(input("Enter number for table generation:"))
for i in range(1,11):
    print(f"{table} X {i} = {table*i}")

Enter number for table generation:8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [17]:
[print("iteration no",i) for i in range(1,11)]

iteration no 1
iteration no 2
iteration no 3
iteration no 4
iteration no 5
iteration no 6
iteration no 7
iteration no 8
iteration no 9
iteration no 10

[None, None, None, None, None, None, None, None, None, None]

In [18]:
[f"iteration no {i}" for i in range(1,11)]

['iteration no 1',
 'iteration no 2',
 'iteration no 3',
 'iteration no 4',
 'iteration no 5',
 'iteration no 6',
 'iteration no 7',
 'iteration no 8',
 'iteration no 9',
 'iteration no 10']

In [19]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
[i+5//2 for i in range(1,11)]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [24]:
for i in range(1,11): 
    for j in range(1,i+1):
        print((i,j),end=" ")
    print()

(1, 1)
(2, 1) (2, 2)
(3, 1) (3, 2) (3, 3)
(4, 1) (4, 2) (4, 3) (4, 4)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)
(10, 1) (10, 2) (10, 3) (10, 4) (10, 5) (10, 6) (10, 7) (10, 8) (10, 9) (10, 10)

In [25]:
[(i*j) for i in range(1,11) for j in range(1,i+1)]

[1,
 2,
 4,
 3,
 6,
 9,
 4,
 8,
 12,
 16,
 5,
 10,
 15,
 20,
 25,
 6,
 12,
 18,
 24,
 30,
 36,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [26]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

print(data[0])
print(data[0][0])

[1, 2, 3]
1

In [27]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]


len(data)

3

In [28]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]


for row in range(len(data)):
    print(data[row], row)

[1, 2, 3] 0
[4, 5, 6] 1
[7, 8, 9] 2

In [29]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]


for row in range(len(data)):
    for col in range(len(data[row])):
        print(data[row][col], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [30]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

for row in data:
    for col in row:
        print(col, end=" ") # child
    print()# parent

1 2 3
4 5 6
7 8 9

In [31]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

[data[row][col]  for row in range(len(data)) for col in range(len(data[row])) ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
10
20


1 x 1 = 1   2 x 1 = 2
1 x 2 = 2   2 x 2 = 4

# Tuple

In [33]:
data = ('a','b','c', 1,2,3)
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [34]:
data = 'a','b','c', 1,2,3
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [36]:
data = 'a','b','c', 1,2,3
print(type(data))
print(data[0])

<class 'tuple'>
a

In [37]:
data = 'a','b','c', 1,2,3
print(type(data))
print(data[0:3])

<class 'tuple'>
('a', 'b', 'c')

In [38]:
data = ('a','b','c', 1,2,3)
print(type(data))
data[0] = "A"

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [39]:
data = ('A','b','c', 1,2,3)
print(type(data))
data

<class 'tuple'>

('A', 'b', 'c', 1, 2, 3)

# tuple not fully imutable

In [40]:
a = ('a','b','c', [1,2])
a[3].append(8)
a[3][0] = 100
a

('a', 'b', 'c', [100, 2, 8])

In [41]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [42]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [43]:
(1,2,3) + ('a','b','c')

(1, 2, 3, 'a', 'b', 'c')

In [44]:
(1,2,3) * 4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

# Dictionary

* start { and }
* item
    * key:value
        * key = hashable type = int, str, tuple / replacement of index
        * value = any type
        * : = seprator between key value
    * , between items

In [45]:
#      0=name        1=fathername      2=cnic        3=roll 4=signature
['Muhammad Qasim',"Muhammad Aslam",'42201-7894567-3',11,'abc']
['Muhammad Qasim',"Muhammad Aslam",'42201-7894567-3',11,'abc']
['asif','abid','2222',111,'aaaaaaa']

['asif', 'abid', '2222', 111, 'aaaaaaa']

In [46]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc'
}

data

{'name': 'Muhammad Hassan',
 'father_name': 'Abdul Razzak',
 'cnic': '42101-7787748-7',
 'roll_no': 118304,
 'signature': 'abc'}

In [48]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc'
}

data["roll_no"]

118304

In [50]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc',
    100 : 'Islam'
}

data[100]

'Islam'

In [51]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc',
    'aaa' : 'Islam'
}

data['aaa']

'Islam'

In [55]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc',
    'skills' : "Python"
}

data

{'name': 'Muhammad Hassan',
 'father_name': 'Abdul Razzak',
 'cnic': '42101-7787748-7',
 'roll_no': 118304,
 'signature': 'abc',
 'skills': 'Python'}

In [56]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Create new dictionary

In [57]:
data = {} #empty dictionary

data['name']

print(data, type(data))

KeyError: 'name'

In [60]:
data = {} #empty dictionary

data['name'] = "Muhammad Hassan"
data['father_name'] = "Abdul Razzak"

print(data, type(data))

{'name': 'Muhammad Hassan', 'father_name': 'Abdul Razzak'} <class 'dict'>

In [61]:
data['name'] = "Muhammad Hassan"
data['father_name'] = "Abdul Razzak"

print(data['roll_name'])

KeyError: 'roll_name'

In [62]:
print("line1")
print("line2")

data['roll_number']

print('line3')
print('line4')

line1
line2

KeyError: 'roll_number'

In [63]:
data['name'] = "Muhammad Hassan"
data['father_name'] = "Abdul Razzak"


print(data.get('name'))
print(data.get("roll_number"))
print(data.get('roll_number','not available'))

Muhammad Hassan
None
not available

In [64]:
print("line1")
print("line2")

print(data.get('roll_number',"Not available"))

print('line3')
print('line4')

line1
line2
Not available
line3
line4

In [65]:
dict.fromkeys(['name','id','father_name','cnic'])

{'name': None, 'id': None, 'father_name': None, 'cnic': None}

In [66]:
data

{'name': 'Muhammad Hassan', 'father_name': 'Abdul Razzak'}

In [67]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc'
    
}

data.keys()

dict_keys(['name', 'father_name', 'cnic', 'roll_no', 'signature'])

In [68]:
data.values()

dict_values(['Muhammad Hassan', 'Abdul Razzak', '42101-7787748-7', 118304, 'abc'])

In [69]:
data.items()

dict_items([('name', 'Muhammad Hassan'), ('father_name', 'Abdul Razzak'), ('cnic', '42101-7787748-7'), ('roll_no', 118304), ('signature', 'abc')])

In [70]:
a,b = ('aa','bb') # unpack/unzip

print(a)
print(b)

aa
bb

In [71]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc'
    
}

for k in data.keys():
    print(k)

name
father_name
cnic
roll_no
signature

In [72]:
data = {
    "name":"Muhammad Hassan",
    "father_name": "Abdul Razzak",
    'cnic': "42101-7787748-7",
    'roll_no': 118304,
    'signature' : 'abc'
    
}

for k in data.keys():
    print(k, "-->", data[k])

name --> Muhammad Hassan
father_name --> Abdul Razzak
cnic --> 42101-7787748-7
roll_no --> 118304
signature --> abc

In [73]:
for k,v in data.items():
    print(k, v)

name Muhammad Hassan
father_name Abdul Razzak
cnic 42101-7787748-7
roll_no 118304
signature abc

In [74]:
data = {
    "a":3,
    "b":2,
    "c":1
}

data

{'a': 3, 'b': 2, 'c': 1}

In [75]:
for d in data:
    print(d)

a
b
c