# List Data type
* start with [ and end with ]
* value/item store any data type
* seprator between two items ,
* indexing
     * positive indexing --> left to right always start Zero
     * negative/reverse indexing <-- right to left always start -1
* extract value from list with index value variable_name[index_num]

# Slicing
* variable[start:end:step] all parameters are numbers
    * start include
    * end exclude (end-1)
    * step sequance (--> 1)

In [1]:
stdid1 = 1
stdname1 = "Ali"
stdfname1 = "Hamza"

stdid2 = 2
stdname2 = "Kashif"
stdfname2 = "Asif"

In [2]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
print(names)

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]

In [3]:
# --->      0      1        2     3     4   5    6
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
# <---     -7     -6       -5     -4   -3   -2   -1
print(names)

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]

In [5]:
# --->      0      1        2     3     4   5    6
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
# <---     -7     -6       -5     -4   -3   -2   -1

print(names[2])
print(names[-6])
print(names[4], names[-3])

Hamza
Kashif
2000 2000

In [6]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
print(names[-2])
print(names[5])

print(names[6], names[-4])

3000
3000
True 1000

# old programming code style for printing all array values

In [7]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]

counter = 0
while counter < len(names):
    print(names[counter])
    counter += 1

Asif
Kashif
Hamza
1000
2000
3000
True

In [9]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]

counter = 1
while counter < 6:
    print(names[counter])
    counter += 1

Kashif
Hamza
1000
2000
3000

# Now print with pythonic style

In [10]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]

for name in names:
    print(name)

Asif
Kashif
Hamza
1000
2000
3000
True

# Slicing

In [11]:
# --->      0      1        2     3     4   5    6
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
# <---     -7     -6       -5     -4   -3   -2   -1


print(names[1:6])
print(names[1:6:1])

['Kashif', 'Hamza', 1000, 2000, 3000]
['Kashif', 'Hamza', 1000, 2000, 3000]

In [13]:
# --->      0      1        2     3     4   5    6
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
# <---     -7     -6       -5     -4   -3   -2   -1

print(names[::1])
print(names[::2])
print(names[::4])

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]
['Asif', 'Hamza', 2000, True]
['Asif', 2000]

In [14]:
# --->      0      1        2     3     4   5    6
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
# <---     -7     -6       -5     -4   -3   -2   -1

print(names[::-1])

[True, 3000, 2000, 1000, 'Hamza', 'Kashif', 'Asif']

In [15]:
# --->      0      1        2     3     4   5    6
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
# <---     -7     -6       -5     -4   -3   -2   -1

print(names[4:-7])
print(names[4:-7:-1])
print(names[-7:4])

print(names[5:-7:-1])
print(names[5:0:-1])

[]
[2000, 1000, 'Hamza', 'Kashif']
['Asif', 'Kashif', 'Hamza', 1000]
[3000, 2000, 1000, 'Hamza', 'Kashif']
[3000, 2000, 1000, 'Hamza', 'Kashif']

In [16]:
# --->      0      1        2     3     4   5    6
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True,'pakistan']
# <---     -7     -6       -5     -4   -3   -2   -1

print(names[-3:])
print(names[0:3])
print(names[:3])
print(names[0:3:1])
print(names[:3:1])

[3000, True, 'pakistan']
['Asif', 'Kashif', 'Hamza']
['Asif', 'Kashif', 'Hamza']
['Asif', 'Kashif', 'Hamza']
['Asif', 'Kashif', 'Hamza']

# apply operators on list data type

In [17]:
l1 = ['pakistan',1000,2000]
l2 = ['abc','xyz']

l1 + l2

['pakistan', 1000, 2000, 'abc', 'xyz']

In [18]:
l1 * 2

['pakistan', 1000, 2000, 'pakistan', 1000, 2000]

In [20]:
" pakistan" * 3

' pakistan pakistan pakistan'

# list data type methods

In [21]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# append -> append value as a item

In [22]:
names = []

names.append("Asif")
names.append("Hamza")
names.append("Kashif")
names.append([1,2,3])

print(names)

['Asif', 'Hamza', 'Kashif', [1, 2, 3]]

In [23]:
names[-1]

[1, 2, 3]

In [24]:
l1 = ['pakistan',1000,2000]

print(l1)
del l1

print(l1)

['pakistan', 1000, 2000]

NameError: name 'l1' is not defined

In [25]:
l1 = ['pakistan',1000,2000]

print(l1)
l1.clear()

print(l1)

['pakistan', 1000, 2000]
[]

In [26]:
l1 = ['pakistan',1000,2000]
l2 = l1

print(l1)
print(l2)

['pakistan', 1000, 2000]
['pakistan', 1000, 2000]

In [27]:
l1 = ['pakistan',1000,2000]
l2 = l1

l2[1] = 7000

print(l1)
print(l2)

['pakistan', 7000, 2000]
['pakistan', 7000, 2000]

In [28]:
l1 = ['pakistan',1000,2000]
l2 = l1.copy()

l2[1] = 7000

print(l1)
print(l2)

['pakistan', 1000, 2000]
['pakistan', 7000, 2000]

In [29]:
l1 = ['a','b','c','a','x','y','z']

l1.count('a')

2

In [30]:
names = []

names.append("Asif")
names.append("Hamza")
names.append("Kashif")
names.append([1,2,3])

print(names)

['Asif', 'Hamza', 'Kashif', [1, 2, 3]]

In [31]:
names = []

names.append("Asif")
names.append("Hamza")
names.append("Kashif")
names.extend([1,2,3])

print(names)

['Asif', 'Hamza', 'Kashif', 1, 2, 3]

In [32]:
l1 = [1,2,3]
l2 = ['a','b','c']

print(l1 + l2)

print(l1,l2)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3] ['a', 'b', 'c']

In [33]:
l1 = [1,2,3]
l2 = ['a','b','c']

l1.extend(l2)


print(l1,l2)

[1, 2, 3, 'a', 'b', 'c'] ['a', 'b', 'c']

In [34]:
l1 = ['a','b','c','a','x','y','z']

l1.index('x')

4

In [52]:
l1 = ['a','b','c','a','x','y','z','a']

print(l1.index('a'))
print(l1.index('a',1))
print(l1.index('a',4))

0
3
7

# insert

In [54]:
l1 = ['a','b','c','a','x','y','z']

l1.insert(1,"hassan")
print(l1)
l1.insert(5,"hassaan")
print(l1)

['a', 'hassan', 'b', 'c', 'a', 'x', 'y', 'z']
['a', 'hassan', 'b', 'c', 'a', 'hassaan', 'x', 'y', 'z']

In [55]:
l1 = ['a','b','c','a','x','y','z']
print(l1)
l1.pop()
print(l1)
l1.pop()
print(l1)
l1.pop(0)
print(l1)

['a', 'b', 'c', 'a', 'x', 'y', 'z']
['a', 'b', 'c', 'a', 'x', 'y']
['a', 'b', 'c', 'a', 'x']
['b', 'c', 'a', 'x']

In [56]:
l1 = ['a','b','c','a','x','y','z']
l2 = []

print(l1)
l2.append(l1.pop())
print(l1)
l2.append(l1.pop())
print(l1)
l2.append(l1.pop(0))
print(l1)

print("Completed list ",l2)

['a', 'b', 'c', 'a', 'x', 'y', 'z']
['a', 'b', 'c', 'a', 'x', 'y']
['a', 'b', 'c', 'a', 'x']
['b', 'c', 'a', 'x']
Completed list  ['z', 'y', 'a']

In [57]:
l1 = ['a','b','c','a','x','y','z']

l1.sort()

print(l1)

['a', 'a', 'b', 'c', 'x', 'y', 'z']

In [58]:
l1 = ['a','b','c','a','x','y','z']

l1.reverse()

print(l1)

['z', 'y', 'x', 'a', 'c', 'b', 'a']

In [59]:
l1 = ['a','b','c','a','x','y','z']

l1.sort()
l1.reverse()

print(l1)

['z', 'y', 'x', 'c', 'b', 'a', 'a']

In [60]:
l1 = ['a','b','c','a','x','y','z']

l1.sort(reverse=True)

print(l1)

['z', 'y', 'x', 'c', 'b', 'a', 'a']

# Remove value from list search with string

In [61]:
l1 = ['a','b','c','a','x','y','z']


remove_item = input("Enter item: ")
indx = l1.index(remove_item)

print(remove_item,type(remove_item))
print(indx, type(indx))
l1.pop(indx)

print(l1)

Enter item: a
a <class 'str'>
0 <class 'int'>
['b', 'c', 'a', 'x', 'y', 'z']

In [65]:
l1 = ['a','b','c','a','x','y','z']

l1.remove('a')
print(l1)

['b', 'c', 'a', 'x', 'y', 'z']

In [66]:
l1 = ['a','b','c','a','b','x','y','z']

remove_item = input("Enter item: ")

a = l1.remove(remove_item)
print(l1,a)

Enter item: a
['b', 'c', 'a', 'b', 'x', 'y', 'z'] None

In [67]:
l1 = ['a','b','c','a','b','x','y','z']


remove_item = input("Enter item: ")

for i in range(l1.count(remove_item)):
    a = l1.remove(remove_item)
    print(a)
print(l1)

Enter item: a
None
None
['b', 'c', 'b', 'x', 'y', 'z']

# Loop

In [68]:
for i in ['a','b','c','a','b','x','y','z']:
    print(i)

a
b
c
a
b
x
y
z