# Text forating/formation/concatination

In [2]:
first name = "Muhammad Hassan"

SyntaxError: invalid syntax (3756658976.py, line 1)

# Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [3]:
age = 27
print(age)

27

In [4]:
print(Age)

NameError: name 'Age' is not defined

In [5]:
student_name = "Hassan"
print(student_name)

Hassan

In [7]:
a = len("Hassan") #return function
print(a)

6

In [9]:
a = print("Hassan") #non-return function
print(a)

Hassan
None

In [11]:
a =print( """
Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri
""")
print(a)

Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri

None

# Concatination
* **+**
* variable_name.format(var1,var2,var3)
* `f'`Student name:{var1}'

In [19]:
first_name = "Muhammmad"
last_name = "Hassan"
institute_name = "Saylani Mass IT Training"

card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name + " " + last_name +"\nAge: " + str(age)
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammmad Hassan
Age: 27

In [18]:
age = 27
print(age ,type(age))

# type casting
age = str(age)

27 <class 'int'>

In [21]:
first_name = "Muhammmad"
last_name = "Hassan"
institute_name = "Saylani Mass IT Training"

card = """ Institute Name: {}
Student Full Name: {} {}
Age: {}
""".format(institute_name,first_name,last_name,age)
print(card)

 Institute Name: Saylani Mass IT Training
Student Full Name: Muhammmad Hassan
Age: 27

In [28]:
first_name = "Muhammmad"
last_name = "Hassan"
institute_name = "Saylani Mass IT Training"
age = 27

card = """ Institute Name: {3}
Student Full Name: {2} {1}
Age: {0}
""".format(institute_name,first_name,last_name,age)
print(card)

 Institute Name: 27
Student Full Name: Hassan Muhammmad
Age: Saylani Mass IT Training

# with `f`

In [29]:
first_name = "Muhammmad"
last_name = "Hassan"
institute_name = "Saylani Mass IT Training"
age = 27

card = f""" Institute Name: {institute_name}
Student Full Name: {first_name} {last_name}
Age: {age}
""".format(institute_name,first_name,last_name,age)
print(card)

 Institute Name: Saylani Mass IT Training
Student Full Name: Muhammmad Hassan
Age: 27

In [25]:
card = """ Institute Name:%s
Student Full Name: %s {last_name}
Age: {age}
""" % (institute_name, first_name)
print(card)

 Institute Name:Saylani Mass IT Training
Student Full Name: Muhammmad {last_name}
Age: {age}

In [30]:
card = """ Institute Name:%s
Student Full Name: %s %s
Age: %d
""" % (institute_name, first_name, last_name,age)
print(card)

 Institute Name:Saylani Mass IT Training
Student Full Name: Muhammmad Hassan
Age: 27

In [31]:
print(card)

 Institute Name:Saylani Mass IT Training
Student Full Name: Muhammmad Hassan
Age: 27

In [36]:
for idx, i in enumerate ([i for i in dir(card) if "_" not in i]):
    print(idx,i)

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 index
10 isalnum
11 isalpha
12 isascii
13 isdecimal
14 isdigit
15 isidentifier
16 islower
17 isnumeric
18 isprintable
19 isspace
20 istitle
21 isupper
22 join
23 ljust
24 lower
25 lstrip
26 maketrans
27 partition
28 removeprefix
29 removesuffix
30 replace
31 rfind
32 rindex
33 rjust
34 rpartition
35 rsplit
36 rstrip
37 split
38 splitlines
39 startswith
40 strip
41 swapcase
42 title
43 translate
44 upper
45 zfill

In [39]:
print(card.capitalize())

 institute name:saylani mass it training
student full name: muhammmad hassan
age: 27

In [40]:
print(card.casefold())

 institute name:saylani mass it training
student full name: muhammmad hassan
age: 27

In [46]:
print(card)
card.count('i')

 Institute Name:Saylani Mass IT Training
Student Full Name: Muhammmad Hassan
Age: 27

4

In [10]:
card= "Muhammad Hassan"
print(card.center(120))

                                                    Muhammad Hassan

In [11]:
card= "Muhammad Hassan"
print(card.encode())

b'Muhammad Hassan'

In [18]:
card= "Muhammad Hassan"
print(card.endswith('n'))
print(card.endswith('h'))

True
False

In [23]:
card= "Muhammad\tHassan"
print(card.expandtabs(30))

Muhammad                      Hassan

In [29]:
card= "Muhammad Hassan"
print(card.find('h'))
print(card.find('H'))

2
9

In [36]:
card= "My percentage is {percentage: .2f} %"
print(card.format(percentage=86))

My percentage is  86.00 %

In [43]:
sports = ('Football','Cricket','Hockey')
x=sports.index("Football")
y=sports.index("Hockey")
print(x)
print(y)

0
2

In [47]:
card= "MuhammadHassan?"
name="MuhammadHassaan123"
print(card.isalnum())
print(name.isalnum())

False
True

In [49]:
card= "MuhammadHassan"
name="MuhammadHassaan123"
print(card.isalpha())
print(name.isalpha())

True
False

In [55]:
card= "Muhammad Hassan"
name="ß" #German Letter
print(card.isascii())
print(name.isascii())

True
False

In [58]:
x= "004"
y= "4.5"
print(x.isdecimal())
print(y.isdecimal())

True
False

In [59]:
x= "004"
y= "4.5"
print(x.isdigit())
print(y.isdigit())

True
False

In [63]:
x= "XYZ123"
y= "Hello world"
z= "JamesBond_007"
print(x.isidentifier())
print(y.isidentifier())
print(z.isidentifier())

True
False
True

In [65]:
x= "muhammad hassan"
y= "Muhammad Hassan"
print(x.islower())
print(y.islower())

True
False

In [67]:
x= "123"
y= "123ABC"
print(x.isnumeric())
print(y.isnumeric())

True
False

In [70]:
x= "123abc/13%&@^*#!"
y= "123ABC\n"
print(x.isprintable())
print(y.isprintable())

True
False

In [71]:
x= "      "
y= "    h"
print(x.isspace())
print(y.isspace())

True
False

In [72]:
x= "Muhammad Hassan"
y= "muhammad hassan"
print(x.istitle())
print(y.istitle())

True
False

In [74]:
sep ='.'
x= "Hassan"
y= ('North','South','East','West')
print(sep.join(x))
print(sep.join(y))

H.a.s.s.a.n
North.South.East.West

In [76]:
x= "'Hassan'"
y= "hassan"
print(x.ljust(20))
print(y.ljust(20,'-'))

'Hassan'
hassan--------------

In [77]:
x= "'Hassan'"
y= "123ABC"
print(x.lower())
print(y.lower())

'hassan'
123abc

In [84]:
x= "         Muhammad Hassan          !!"
y= "$@123ABC$@"
print(x.lstrip())
print(y.lstrip('$@'))

Muhammad Hassan          !!
123ABC$@

In [86]:
name = "Muhammad Hassan"
x = name.maketrans('uh','gr','s')
y = name.translate(x)
print(y)

Mgrammad Haan

In [87]:
x = "Hello Muhammad Hassan"
print(x.partition(' '))

('Hello', ' ', 'Muhammad Hassan')

In [90]:
name = "Mr. Hassan"
print(name.removeprefix('Mr.'))

 Hassan

In [91]:
name = "Mr. Hassan"
print(name.removesuffix('Hassan'))

Mr.

In [92]:
name = "Mr. Hassan"
print(name.replace('Hassan','Hassaan'))

Mr. Hassaan

In [96]:
name = "muhammad hassan"
print(name.rfind("h"))
print(name.rfind("x"))

9
-1

In [97]:
name = "muhammad hassan"
print(name.rindex("h"))
print(name.rindex("x"))

9

ValueError: substring not found

In [102]:
name = "hassan"
print(name.rjust(10))
print(name.rjust(10,'-'))

    hassan
----hassan

In [109]:
name ="hassan , qasim , mehmood"
print(name.rpartition(','))

('hassan , qasim ', ',', ' mehmood')

In [110]:
name = "muhammad hassan"
print(name.rsplit())

['muhammad', 'hassan']

In [113]:
name = "    'muhammad hassan    "
print(name.rstrip())

    'muhammad hassan

In [114]:
name = "muhammad hassan"
print(name.split())

['muhammad', 'hassan']

In [115]:
name = "good\nmorning\neveryone"
print(name.splitlines())

['good', 'morning', 'everyone']

In [116]:
name = "muhammad hassan"
print(name.startswith('muhammad'))
print(name.startswith('hassan'))

True
False

In [120]:
name = '------muhammad hassan------'
print(name.strip('-'))

muhammad hassan

In [121]:
name = "Muhammad Hassan"
print(name.swapcase())

mUHAMMAD hASSAN

In [122]:
name = "muhammad hassan"
print(name.title())

Muhammad Hassan

In [123]:
name = "Muhammad Hassan"
x = name.maketrans('uh','gr','s')
y = name.translate(x)
print(y)

Mgrammad Haan

In [124]:
name = "Muhammad Hassan"
print(name.upper())

MUHAMMAD HASSAN

In [125]:
name = "Hassan"
print(name.zfill(15))

000000000Hassan