# Python Operators
Operators are used to perform operations on variables and values.<br>

In the example below, we use the + operator to add together two values:

In [5]:
#    operand operator     operand
print(2         +             2) #addition operation

4

In [4]:
num1= 7
num2= 3
print(num1 + num2)

10

In [6]:
num1= "7"
num2= "3"
print(num1 + num2) #concatination

73

In [8]:
num1= "7" #string
num2= 3 #integer
print(f"num1:{type(num1)} num2 : {type(num2)}")
print(num1 + num2) #concatination

num1:<class 'str'> num2 : <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [10]:
num1= 3 #integer
num2= "7" #string
print(f"num1:{type(num1)} num2 : {type(num2)}")
print(num1 + num2) #concatination

num1:<class 'int'> num2 : <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
list1 = ['a','b','c']
list2 = [1,2,3]
print(f"num1:{type(list1)} num2 : {type(list2)}")
print(list1,list2)
print(list1 + list2) #combine lists

num1:<class 'list'> num2 : <class 'list'>
['a', 'b', 'c'] [1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arithmetic Operations

In [23]:
x ="""Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y
"""
print(x)

Operator	Name	Example	Try it
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y

In [27]:
x= 10
y= 5
print(x / y) #float

2.0

In [28]:
x= 10
y= 5
print(x - y)

5

In [29]:
x= 11
y= 5
print(x % y)

1

In [32]:
x= 11
y= 2
print(x ** y)
print(3 ** 2)

121
9

In [35]:
x= 13
y= 3
print(x // y)
print(3 / 2)
print(3 // 2)

4
1.5
1

# Python Assignment Operators
Assignment operators are used to assign values to variables:

In [37]:
a = 5
print(a)

5

In [42]:
a = 5
print(a)
print(a)
a += 1 #add 1 into a
print(a)

5
5
6

In [41]:
a = 1
a = 3 #overwrite old value with new value
print(a)

3

In [43]:
a = 10
a -= 3
print(a)

7

In [44]:
a = 10
a *= 3
print(a)

30

In [47]:
x = 4
x = x & 6
print(x)

4

# Python Comparison Operators
Comparison operators are used to compare two values:

In [48]:
a = 5
b = 5
print( a == b)

True

In [49]:
a = 5
b = 7
print( a == b)

False

In [50]:
a = 5
b = 8
print( a > b)

False

In [51]:
a = 5
b = 5
print( a <= b)

True

In [52]:
a = 9
b = 5
print( a <= b)

False

In [55]:
a = 5
b = 5
print(a != b)

False

In [62]:
a = 'qasim'
b = 'hassaan'
print(a == b)

False

In [64]:
a = 'qasim'
b = 'qasim'
print(a > b)

False

In [65]:
a = 'qasim'
b = 'qasim'
print(a >= b)

True

In [66]:
chr(55)

'7'

In [68]:
ord('7')

55

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [72]:
#   logic   operator  l    op  l   op   l
print(True    and    True and True and True)
print(True and True and False and True)
print(False and False and False and False)

True
False
False

In [73]:
#   logic   operator  l    op    l   op   l
print(True    or     True  or  True  or  True)
print(True or True or False or True)
print(False or False or False or False)

True
True
False

In [75]:
not True

False

In [79]:
password = input("enter your password")
print(password =='abc')
print(not password =='abc')
print(password)

enter your passwordPakistan
False
True
Pakistan

# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

# Shallow copy

In [81]:
a = 5
b = 5
c = 5
print(id(a), id(b), id(c))
print(a)
print(b)
print(c)

2812975671728 2812975671728 2812975671728
5
5
5

In [82]:
a = 5
b = '5'
print(id(a), id(b))

2812975671728 2812977911408

# Deep copy

In [87]:
saylani = ["Hassaan"]
student = saylani.copy()
print(saylani, student)
print(saylani == student)
print(id(saylani), id(student))
print(saylani is student)

['Hassaan'] ['Hassaan']
True
2813072479168 2813072485696
False

In [88]:
saylani = ["Hassaan"]
student = saylani.copy()
print(saylani, student)
print(saylani == student)
print(id(saylani), id(student))
print(saylani is not student)

['Hassaan'] ['Hassaan']
True
2813071665728 2813072581760
True

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [92]:
message = "Islam Zindabad"
print('Islam' in message)
print('Pakistan' in message)

True
False

In [95]:
name = ['qasim','atif','hasssaan','maaz']
print("atif" in name)
print('qasim' not in name)

True
False